:plain
  var content = "#{escape_javascript render 'shared/modal_content', header: 'New Comment', title: @title, content: (render 'new') }"
  var newToggleContent = "#{escape_javascript render 'comments/list_options', path: 'javascript:void(0)', remote: false, style_class: 'ui header icon toggle-modal'}"

  loadModal('newCommentModal', content);
  remoteRequester = "a[href^='/item_comments/new?item_id=#{@model.item.id}']"
  changeToggleButton(remoteRequester, newToggleContent);
  initializeGestures();
