= form_for(favorite_resource, remote: true, html: {class: 'hidden'}) do |f|
  = f.hidden_field :restaurant_id
  = f.submit '#', class: 'hidden'
%a{ href: 'javascript:void(0)', class: 'submit'}
  %strong.ui.icon.header
    %i.star.icon
    %span.content
      Add to Favorites
:javascript
  initializeFavoriteRestaurantForm();
