:plain
  var form = $("form[id$='#{@model.type}_#{@model.send(@model.type).id}']")
  var favorite = form.closest('.favorite')
  var animationArea = favorite.find('.ui.icon.header');

  handleSuccess(animationArea, messages)

