- style_class ||= 'item toggle'
- path ||= send("new_#{resource}_comment_path")
= link_to path, remote: true, class: style_class do
  %strong.ui.icon.header.icon-option
    %i.comment.blue.icon.popup{"data-content" => "Be the first to Comment"}
    = 'Comment' if local_assigns[:header]
    %span.content.mobile.hidden
  .ui.floating.label.circular.purple
    %i.plus.white.icon
