
= form_for(@model, html: { class: 'ui form large' }) do |f|
  %h3.ui.header
    = @title
  = render 'shared/comment_fields', object: f
  = f.submit 'Update Comment', class: 'ui circular button purple'
