= render 'shared/header', title: @title, subtitle: @subtitle
.ui.grid.container.page-content
  = render 'shared/list', header_options: { row_title: 'Most Relevant' }, items: @results, row_view: 'restaurants/list_row'
