= form_for model, method: :delete, remote: true, html: {id: "#"} do |f|
  = f.submit '#', class: 'hidden'
%a{ href: 'javascript:void(0)', class: 'submit', onclick: 'submitForm(this)'}
  %span.ui.icon
    %i.trash.icon.remove.popup{"data-content" => 'Delete Notification'}
