:plain
  var notification = $("#notification_#{@model.id}")
  var messages = ("#{ escape_javascript render('layouts/messages')}");

  notification
    .transition({
      animation : 'scale out',
      duration  : '0.2s',
      onComplete : function() {
        renderMessages(messages);
    }})
