%strong.ui.icon.header.icon-option
  %span.icon.popup{"data-content" => "Think of berries as 'likes'.  Users can give you berries for the content you add!"}
    = image_tag('default/berry-green.svg')
  User Berries
.ui.circular.floating.purple.label
  = @model.berry_count
