%strong.ui.icon.header.icon-option
  %span.icon.popup{"data-content" => "#{@model.berry_count} Berries"}
    = image_tag('default/berry-green.svg')
  User Berries
.ui.circular.floating.purple.label
  = @model.berry_count
