.wrapper
  %h2.ui.header
    = @list_title
    %span.ui.dropdown.item.lists
      %i.dropdown.icon
      .right.menu
        = user_dashboard_lists
  - if @list_items.empty? && !@visitor && favorites_title?(@list_title)
    %p
      = 'Favorite a Restaurant, Vegan Option, or User to start receiving updates below!'
