%a.item{:href => "#{user_path(model)}"}
  .content
    .ui.grid.middle.aligned
      .eight.wide.mobile.column
        %h3.ui.header
          = image_tag('users/avatar.png', height: '60', width:'60', class: 'ui image middle aligned')
          = model.name.titleize
      .eight.wide.mobile.column.right.aligned.item-count
        -# %h4
        -#   %span.highlight
        -#     = model.items.count
        -#   %strong
        -#     Options
