= render 'shared/header', title: "Edit Profile"
.ui.container
  .ui.middle.aligned.center.aligned.grid.page-content
    .row
      = render 'shared/form_wrapper', resource: @model, title: 'User Form' do |f|
        = render 'form_fields', f: f
