= render 'shared/header', title: "Edit Profile"
.ui.container
  .ui.middle.aligned.center.aligned.grid.page-content
    .row
      .sixteen.wide.mobile.fourteen.wide.tablet.column
        = form_for(@model, html: { class: 'ui form large' }) do |f|
          = render 'fields', f: f
