= render 'shared/header', title: @title
.ui.grid.container.page-content
  = render 'shared/list', header_options: {row_title: 'Most Recent'}, items: @notifications, row_view: 'notifications/list_row'
