.ui.vertical.stripe.segment
  .ui.middle.aligned.stackable.grid.container
    .row
      .eight.wide.column
        %h3.ui.header We Help Companies and Companions
        %p We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.
        %h3.ui.header We Make Bananas That Can Dance
        %p Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.
      .six.wide.right.floated.column
        %img.ui.large.bordered.rounded.image
    .row
      .center.aligned.column
        %a.ui.huge.button Check Them Out
.ui.vertical.stripe.quote.segment
  .ui.equal.width.stackable.internally.celled.grid
    .center.aligned.row
      .column
        %h3 "What a Company"
        %p That is what they all say about us
      .column
        %h3 "I shouldn't have gone with their competitor."
        %p
          %img.ui.avatar.image
          %b Nan
          Chief Fun Officer Acme Toys
.ui.vertical.stripe.segment
  .ui.text.container
    %h3.ui.header Breaking The Grid, Grabs Your Attention
    %p Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.
    %a.ui.large.button Read More
    %h4.ui.horizontal.header.divider
      %a{:href => "#"} Case Studies
    %h3.ui.header Did We Tell You About Our Bananas?
    %p Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.
    %a.ui.large.button I'm Still Quite Interested
