.ui.vertical.stripe.segment
  .ui.text.container
    %h3.ui.header It can be a very difficult to maintain a vegan diet at most restaurant chains.
    %p
      = "#{@app_name} makes it alittle easier by showing you which food items contain no animal products at a restaurant."
.ui.vertical.stripe.segment
  .ui.middle.aligned.stackable.grid.container
    .row
      .center.aligned.column
        %h2.ui.header
          Start Using In 3 Easy Steps
    .row
      .eight.wide.column
        %h3.ui.header
          1 - Search for a restaurant
        %p We are always adding more and more restaurants.  Use the search bar to find the right one.
      .eight.wide.right.floated.column
        .device-mockup.imac.portrait.black
          .device
            .screen
              = image_tag('device_mock_screens/imac_screen.png')
            .button
              / You can hook the "home button" to some JavaScript events or just remove itove it
      .six.wide.left.floated.column
        .device-mockup.ipad_air_2.portrait.silver
          .device
            .screen
              Helloasdlkjasjdk
            .button
              / You can hook the "home button" to some JavaScript events or just remove itove it
      .eight.wide.column
        %h3.ui.header
          2 - View whats vegan at the restaurant.
        %p The vegan food items are listed alphabetically and by type.
      .eight.wide.column
        %h3.ui.header
          3 - Discover additional information about the food item.
        %p View the item's ingredients, user notes, and recipes.
      .two.wide.column
      .five.wide.right.floated.column
        .device-mockup.iphone6.portrait.white
          .device
            .screen
            .button
              / You can hook the "home button" to some JavaScript events or just remove itove it
      .one.wide.column
      .sixteen.wide.center.aligned.column
        %a.ui.circular.button.blue.huge#top
          Start Now


