= render 'shared/header', title: title
.ui.vertical.stripe.segment.header-above
  .ui.container
    .ui.middle.aligned.center.aligned.grid.page-content
      .row
        .sixteen.wide.column
          %div.error-image
            %span
              %i.frown.icon
          %div
            %h3
              = "Error: " + status_code
        .sixteen.wide.column
          %div
            %h4
              = message
          %div
            = link_to 'Go to Home Page', root_path, class: 'ui circular button blue huge', id: 'top'
