- image ||= nil
- warning ||= nil
.ui.center.aligned.page-header
  %h1.ui.header
    = title
  - if image
    = image_tag(image, height: '80', width:'80', class: 'ui image middle aligned')
  - if defined?(subtitle)
    %h2.sub.header
      = subtitle
  - if warning
    %p.sub.header.warning
      *Warning* - The following is merely a guide.  Nothing displayed is 100% certified vegan unless specified.  Please always confirm with restaurant employees.
%span.flash-messages
  = render 'layouts/messages' if flash.present?
