- if image == 'gallery'
  = render('shared/photo_gallery')
- else
  .restaurant-img
    = display_header_img(image, editable)
  - if @model.try(:persisted?) && current_page?(item_path(@model))
    .gallery.title
      = link_to new_item_photo_path(item_id: @model.id), remote: true do
        %i.plus.icon.popup{"data-content" => "Add new Photo"}
        Add Photo
