.row
  .two.wide.computer.only.column
  .sixteen.wide.mobile.twelve.wide.computer.column
    .ui.relaxed.divided.list.restaurant-list
      - if options = header_options
        = render 'shared/list_header', options: options
      - if items.empty?
        .item
          .content
            %h3.ui.header
              = ('No ' + items.klass.name.downcase.pluralize).titleize
      - items.each do |item|
        = render row_view, model: item
    - if items.try(:total_pages).to_i > 1
      .ui.container.center.aligned.new-content
        = will_paginate items, renderer: WillPaginateSemanticUi::ActionView::Renderer
