- klass ||= ''

%a{href: user_facebook_omniauth_authorize_path }
  %i{ class: ('facebook square icon ' + klass), id: 'facebookLogin' }
%a{href: user_twitter_omniauth_authorize_path}
  %i{ class: 'twitter square icon ' + klass, id: 'twitterLogin' }
%a{href: user_google_oauth2_omniauth_authorize_path}
  %i{ class: 'google icon ' + klass, id: 'googleLogin' }
