
.header
  = header
  %a.close{href:'#'}
    x
.ui.container
  .sub-header
    %h2.title
  .content.item-ingredients
    = content
.footer
  %a.ui.button.circular.blue.big.close
    %i.remove.icon
    Close Ingredients
