.ui.large.top.fixed.menu.transition.hidden
//   .ui.container
//     %a.active.item Home
//     %a.item Work
//     %a.item Company
//     %a.item Careers
//     .right.menu
//       .item
//         %a.ui.button Log in
//       .item
//         %a.ui.primary.button Sign Up
// / Sidebar Menu
.ui.vertical.sidebar.menu.left
  %a.active.item Home
  %a.item Work
  %a.item Company
  %a.item Careersw
  %a.item Login
  %a.item Signup
-# / Page Contents
-# .pusher
-#   .ui.inverted.vertical.masthead.center.aligned.segment
-#     .ui.container
-#       .ui.large.secondary.inverted.pointing.menu
-#         %a.toc.item
-#           %i.sidebar.icon
-#         %a.active.item Home
-#         %a.item Work
-#         %a.item Company
-#         %a.item Careers
-#         .right.item
-#           %a.ui.inverted.button Log in
-#           %a.ui.inverted.button Sign Up

-# .ui.sidebar.left.vertical.attached.menu
-#   .ui.container
-#     = link_to 'Home', root_path, class: "item"
-#     = link_to 'Restaurants', restaurants_path, class: 'item'
-#     .right.search.item
-#       = form_tag search_restaurants_path, method: 'get', class: 'ui search' do
-#         .ui.icon.input
-#           = text_field_tag :q, nil, id: 'search', class:'prompt'
-#           %i.search.icon
-#     -# .ui.right.aligned.search.item
-#     -#     .ui.transparent.icon.input
-#     -#       %i.search.icon
-#     -#     .results
-#     -#     = submit_tag "Sign in"
-# .ui.container{style: 'margin-top: 30px;'}
-#   %a.launch.icon.item{href: '#'}
-#     %i.content.icon
