- klass ||= ''

%a{href:@facebook_url}
  %i{ class: 'facebook square icon ' + klass }
%a{href:@twitter_url}
  %i{ class: 'twitter square icon ' + klass }
%a{href:@instagram_url}
  %i{ class: 'instagram icon ' + klass }
