= render 'shared/header', title: @title
.ui.vertical.stripe.segment.header-above
  .ui.text.container
    %p
      As someone who lives a vegan lifestyle, I know how challenging it can be to find a restaurant on the spot. Whether I am out with friends or on vacation with family, it's difficult and timely to find a place to eat. That's why I made
      %span.highlight
        MenuBerry,
      the easiest way to figure out where you can get a meal.
      %br
      %br
      MenuBerry is a community driven guide that shows you what restaurants have vegan options.
      Users can add new restaurants, and vegan options they discover, to help others make easy decisions when dining out. With our ever growing restaurant list, user creations and helpful tips, MenuBerry is a
      %span.highlight
        MUST HAVE
      tool for all vegans.
.ui.vertical.stripe.segment.section
  .ui.middle.aligned.stackable.grid.container
    .row
      .center.aligned.column
        %h2.ui.header
          Say
          %span.highlight
            Goodbye
          to..
        %ul
          %li
            %h2
              Lengthy vegan detective work on the go.
          %li
            %h2
              Friends and family having to plan around your diet
          %li
            %h2
              Declining breakfast, lunch and dinner invitations.
= render 'shared/steps'
-# .ui.vertical.stripe.segment.section
-#   .ui.middle.aligned.stackable.grid.container
-#     .row
-#       .center.aligned.column
-#         %h3
-#           If you would like to submit a Restaurant or a vegan item you did not see, please fill out our
-#           = link_to 'contact form.', new_contact_path
