.ui.center.aligned.header
  %h1
    Welcome to Vegan Choices
.ui.container.text.center.aligned.landing
  %form.ui.search{method: 'get', action: restaurants_path}
    .ui.icon.input
      %input#search.prompt{:placeholder => "Search for Restaurants", :type => "text"}
      %i.search.icon
    .results
    %input{type:'submit'}
