%h1
  = @title
= form_tag( '/restaurant_search', action: "restaurant_search", id: 'restaurantSearchForm') do
  #search
    %label{:for => "restaurantSearch"}
      = select_tag 'restaurantSearch', nil, id: 'restaurantSearch', width: '100%', class: 'form-control'
      = submit_tag(value = "Save changes", options = {})