:plain
var content = "#{escape_javascript render 'shared/modal_content', header: 'New Comment', title: @title, content: (render 'new') }"
var newToggleContent = "#{escape_javascript link_to 'Add Comment', 'javascript:void(0)', class: 'toggle-modal'}"

loadModal('newCommentModal', content);
remoteRequester = "a[href^='/restaurant_comments/new?restaurant_id=#{@model.restaurant.id}']"
changeToggleButton(remoteRequester, newToggleContent);
initializeGestures();
