<% ingredients.each do |ingredient|%>
  <div class="list-group">
    <div class='list-group-item'>
      <%= (render 'ingredient', ingredient: ingredient) if ingredient %>
    </div>
  </div>
<% end %>
