<div class="col-md-4 text-xs-center">
  <%= image_tag(item.image_path, height: '100', width:'100', class: 'rounded') %>
  <br>
  <strong>
    <%= item.name %>
  </strong>
  <br>
  <%= link_to 'Show Ingredients', '#' %>
  <%= render 'ingredients', ingredients: item.ingredient_list %>
</div>