.nested-fields
  %h3.ui.header
    New Vegan Option
    = link_to_remove_association "<span class='ui'> <i class='remove icon popup' data-content='Remove Vegan Option'></i></span>".html_safe, f, class: '', style: 'float: right;'
  = render 'items/fields', f: f
:javascript
  initializePopup();

