<div class="col-md-4 text-xs-center">
  <div class="card">
      <%= image_tag(item.image_path, height: '200', width:'200', class: 'rounded') %>
    <div class="card-block">
      <h4 class="card-title"><%= item.name %></h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
     <button class='btn btn-primary'> Show Ingredients </button>
      <%= render 'ingredients', ingredients: item.ingredient_list %>
    </div>
  </div>
</div>