<% items_by_type.each do |type, items| %>
  <h2>
    <%= type.name.titleize + " (#{items.count})" %>
  </h2>
  <div class='row'>
    <% items.each do |item| %>
      <%= render 'item', item: item %>
    <% end %>
  </div>
<% end %>

