.icons.restaurant-options
  %a.disabled{href: '#', style: 'poniter-events:none;' }
    %strong.ui.icon.header.disabled
      %i.circular.print.icon
      Print
      %br
      List
  %a{href: locations_url(@model)}
    %strong.ui.icon.header
      %i.circular.food.icon
      Locations Nearby
  %a{href: @model.website }
    %strong.ui.icon.header
      %i.circular.external.icon
      Restaurant Website
  %a{href: report_restaurant_path(@model) }
    %strong.ui.icon.header
      %i.circular.external.icon
      Report Restaurant
  -# TODO: Eventually Add this, will have to make a column in the restaurant table.
  -# %a{href: @model.website }
  -#   %strong.ui.icon.header
  -#     %i.circular.file.outline.icon
  -#     Information Source
