= render 'shared/header', title: @title
.ui.grid.container.page-content
  = render 'shared/list', header_options: restaurant_index_list_header_options, items: @restaurants, row_view: 'restaurants/list_row'
