= render 'shared/header', title: @title, image: image_path(@model), warning: true
.ui.grid.centered.container.page-content
  = new_comments_link(@model)
  = render 'items/items', items: @items, item_type_scopes: @item_type_scopes
  .row
    .ui.container
      = render 'restaurants/options'
