.ui.segment.raised
  %h3.ui.header
    .content
      Please Fill Out
  = render 'fields', f: f
  .field.hidden
    = f.hidden_field :restaurant_id
  %br
  = f.submit submit_title, class: 'ui circular button blue'
