.ui.grid.container
  - item_type_scopes.each do |type_scope|
    - items_scoped_to_type = items.send(type_scope)
    .row
      .column
        %h3.ui.header
          = type_scope.to_s.titleize + " (#{items_scoped_to_type.count})"
        .ui.four.cards.stackable
          - items_scoped_to_type.each do |item|
            = render 'items/item', item: item
