.item
  .content
    .ui.grid.middle.aligned
      .ten.wide.column
        = link_to item.name, item, class: 'restaurant-item', style: 'display: block'
      .six.wide.column.right.aligned
        = render 'items/user_options', item: item
