.row
  .sixteen.wide.mobile.twelve.wide.computer.column
    .ui.relaxed.divided.list.food-items
      = render 'shared/list_header', options: {list_title: 'Vegan Options', sub_title: true,  row_title: 'Categories', list_options: 'items/list_options'}
      = display_items_by_type_list items
