.item
  .content
    -# .image
    -#   = image_tag(image_path(item), height: '100', width:'100', class: 'rounded')
    .extra
      = link_to item.name, item_ingredients_item_path(item), remote: true, class: 'toggle-ingredients'

