- items_by_type.each do |type, items|
  .row
    .column
      %h2.ui.header
        = type.name.titleize + " (#{items.count})"
      .ui.four.cards.stackable
        - items.each do |item|
          = render 'items/item', item: item
