<div class="col-md-4 text-xs-center">
  <div class="card item">
    <%= image_tag(image_path(item), height: '200', width:'200', class: 'rounded') %>
    <div class="card-block">
      <h4 class="card-title"><%= item.name %></h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <%= link_to 'Show Ingredients', ingredients_item_path(item), remote: true, class: 'btn btn-primary' %>
    </div>
  </div>
</div>