.item
  .content.ui.accordion
    %h3.ui.header.title{class: ('disabled not-active' unless items.present?)}
      %i{class:'dropdown icon', aria_hidden:'true'}
      %a
        = scope.to_s.titleize + " (#{items.count})"
    - if items.present?
      .content
        .ui.relaxed.divided.list.restaurant-items
          - items.each do |item|
            = render 'items/item', item: item
