.item
  .content.ui.accordion
    %h3.ui.header.title{class: ('disabled not-active' unless items.present?)}

      %i{class:'dropdown icon'}
      %a
        %span.highlight{class: ('sm-margin-right' if items.count < 10) }
          = "(#{items.count})"
        - scope = scope.to_s
        - scope = scope.pluralize unless scope == 'other'
        = scope.titleize
    - if items.present?
      .content
        .ui.relaxed.divided.list.restaurant-items
          - items.each do |item|
            = render('items/list_row', model: item) if item.try(:name)
