:plain
  $(document).ready(function(){
    fillIngredientsModal();
  });

  function fillIngredientsModal() {
    if ( !$('#ingredientsModal').length ) {
      $('.modal').attr('id', 'ingredientsModal');
      $('.modal-content').html("#{escape_javascript render 'modals/modal_content'}")
    }

    $('.modal-title').html("#{escape_javascript @model.name}");
    $('.modal-body').html("#{escape_javascript render 'items/ingredients', ingredients: @ingredients}");
    $('#ingredientsModal').modal('show');
  }