:plain
  $(document).ready(function(){
    fillAndDisplayModal();
    removeLoadingDimmer();
    changeToggleButton();
  });

  function fillAndDisplayModal() {
    initializeItemIngredientsModal();
    fillModalContent();
    set_the_recipe();
    displayModal();
  }

  function initializeItemIngredientsModal () {
    if ( !$('#ingredientsModal').length ) {
      $('.modal').attr('id', 'ingredientsModal');
      $('.modal').append("#{escape_javascript render 'shared/modal_content', header: nil, content: nil }")
    }
  }

  function fillModalContent() {
    $('.modal .header').html("#{escape_javascript @model.name}");
    $('.content').html("#{escape_javascript render 'items/item_ingredients', item_ingredients: @item_ingredients}");
  }

  function set_the_recipe() {
    $('a.recipe-item').click(function() {
      var button = findRecipeItemShowIngredientsBtn(this);

      hideModal();

      button.trigger('click');
    });
  }

  function findRecipeItemShowIngredientsBtn(recipeItem) {
      var name = $(recipeItem).text();
      var find_item_header_on_page = ("strong:contains(" + name + ")")
      var result = $(find_item_header_on_page)
      return result.parent().find('a');
  }

  function displayModal() {
    $('body').removeClass('dimmed');
    $('#ingredientsModal').modal('show');
  }

  function hideModal() {
    $('#ingredientsModal').modal('hide');
  }

  function removeLoadingDimmer() {
    $('.ui.active.inverted.dimmer').remove();
  }

  function changeToggleButton() {
    revertTogggleButtons();

    var toggleButton = window.remoteRequestButton;
    var text = toggleButton.parent().find("strong").text().trim();
    var modalItemName = $('.modal .header').text();

    if (modalItemName === text) {
      toggleModalButtons(toggleButton);
    }
  }

  function toggleModalButtons(remoteRequestButton) {
    remoteRequestButton.toggle();

    var existingToggleButton = $( remoteRequestButton.parent().attr('class') + ' .toggle-modal' )

    if (existingToggleButton.val() === undefined) {
      remoteRequestButton.parent().append("<button class='button ui primary button toggle-modal'> Show Ingredients </button>")
    } else {
      existingToggleButton.show();
    }

    $('.ui.modal')
      .modal('attach events', '.toggle-modal', 'show')
    ;
  }

  function revertTogggleButtons() {
    $("body").find('.toggle-ingredients:hidden').not('script').toggle();

    $(".toggle-modal").hide();
  }

  function toggleArrowIcon(element) {
    var openedClassName = 'angle down icon'
    var closedClassName = 'angle right icon'
    var icon = element.getElementsByTagName("i")[0]
    var iconClassName = icon.className

    if ( iconClassName === closedClassName ) {
      icon.className = openedClassName
    } else {
      icon.className = closedClassName
    }
  }


