:plain
  var content = "#{escape_javascript render 'shared/modal_content', header: 'Ingredients', title: @model.name, content: (render 'items/item_ingredients', item_ingredients: @item_ingredients)}"
  var newToggleContent = "#{ escape_javascript link_to 'View Ingredients', 'javascript:void(0)', remote: false, class: 'ui toggle-ingredients toggle-modal circular huge button purple'}"

  loadModal('ingredientsModal', content);
  remoteRequester = "a[href^='/items/#{@model.id}/item_ingredients']"
  changeToggleButton(remoteRequester, newToggleContent);
  initializeGestures();
