:plain
  var content = "#{escape_javascript render 'shared/modal_content', header: 'Ingredients', title: @model.name, content: (render 'items/item_ingredients', item_ingredients: @item_ingredients) }"
  var newToggleContent = "<a class='extra toggle-modal'><div> #{@model.name} </div></a>"

  loadModal('ingredientsModal', content);
  removeLoadingDimmer();
  remoteRequester = "a[href^='/items/#{@model.id}/item_ingredients']"
  changeToggleButton(remoteRequester, newToggleContent);
  initializeGestures();
