:plain
  $(document).ready(function(){
    fillAndDisplayModal();
  });

  function fillAndDisplayModal() {
    initializeItemIngredientsModal();
    fillModalContent();
    displayModal();
  }

  function initializeItemIngredientsModal () {
    if ( !$('#ingredientsModal').length ) {
      $('.modal').attr('id', 'ingredientsModal');
      $('.modal').append("#{escape_javascript render 'shared/modal_content', header: nil, content: nil }")
    }
  }

  function fillModalContent() {
    $('.modal .header').html("#{escape_javascript @model.name}");
    $('.content').html("#{escape_javascript render 'items/item_ingredients', item_ingredients: @item_ingredients}");
  }

  function displayModal() {
    initializeNestedIngredients();

    $('#ingredientsModal').modal('show');
  }

  function initializeNestedIngredients() {
    $( ".toggle-nested-ingredients" ).click(function() {
      toggleArrowIcon(this);
      toggleNested(this, '.nested-ingredient');
    });
  }


  function toggleArrowIcon(element) {
    openedClassName = 'angle down icon'
    closedClassName = 'angle right icon'

    icon = element.getElementsByTagName("i")[0]
    iconClassName = icon.className

    if ( iconClassName === closedClassName ) {
      icon.className = openedClassName
    } else {
      icon.className = closedClassName
    }
  }


