= render 'shared/header', title: @title
.ui.container.contacts
  .ui.middle.aligned.center.aligned.grid.page-content
    .row
      = render 'shared/form_wrapper', resource: @model, title: 'Food/Beverage Form' do |f|
        - render 'form', f: f, submit_title: 'Create Vegan Option'
