= render 'shared/header', title: @model.restaurant.name, image: image_path(@model.restaurant), subtitle: 'New Vegan Option'
.ui.container.contacts
  .ui.middle.aligned.center.aligned.grid.page-content
    .row
      = render 'shared/form_wrapper', resource: @model do |f|
        - render 'form', f: f, submit_title: 'Create Vegan Option'
