:plain
  var content = "#{escape_javascript render 'shared/modal_content', header: 'Report', title: @report_item.item.name, content: (render 'report') }"
  var newToggleContent = "#{escape_javascript link_to 'Report Item', 'javascript:void(0)', class: 'toggle-modal'}"

  loadModal('reportItemModal', content);
  remoteRequester = "a[href^='/items/#{@report_item.item.id}/report']"
  changeToggleButton(remoteRequester, newToggleContent);
  initializeGestures();
