:plain
  var content = "#{escape_javascript render 'shared/modal_content', header: 'New Comment', title: @title, content: (render 'new') }"
  var newToggleContent = "#{escape_javascript link_to 'Reply', 'javascript:void(0)', class: 'toggle-modal'}"

  loadModal('newCommentReplyModal', content);
  remoteRequester = "a[href^=#{new_reply_comment_path(@model.reply_to)}]"
  changeToggleButton(remoteRequester, newToggleContent);
  initializeGestures();
