:plain
  var content = "#{escape_javascript render 'shared/modal_content', header: 'New Comment', title: @title, content: (render 'new') }"
  var newToggleContent = "#{escape_javascript render('reply_comments/toggle', path: 'javascript:void(0)', klass: 'ui header toggle-modal')}"
  var remoteRequester = "a[href^='/reply_comments/new?reply_to_id=#{@model.reply_to.id}']"

  loadModal('newCommentReplyModal', content);
  changeToggleButton(remoteRequester, newToggleContent);
  initializeGestures();
