.berry
  - if (current_user && (berry = current_user.content_berries.find_by(resource => model)))
    = render 'content_berries/remove', content_berry: berry, resource_name: resource, resource_id: model.id
  - else
    = render 'content_berries/new', content_berry: ContentBerry.new(), resource_name: resource, resource_id: model.id
