@import "variables_and_mixins";

// Contacts page
.contacts {

  .ui.header {
    color: $secondary-color;
    font-size: 27px;
  }

  .column.contact-form {
    max-width: 800px;

    .ui.segment {
      padding-top: 2.5em;
      padding-bottom: 2.5em;
    }
  }

  .email {
    font-size: 1.5em;
  }

    .restaurant-input-toggle {
      p {
        font-size: 17px;
      }
    }

  .restaurant-input {
    display: none;
  }
}

.icons{
  @include custom-anchor;
  color: $second-gradient-color;
  margin-top: 20px;
  font-size: 40px;
}
