// import the CSS framework
// Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
@import "semantic-ui";

$list-padding: 2.9em 0em;
$list-font-size: 1.58rem;
$list-font-weight: normal;
$list-width-pad: 0em 1.5em;


h1, h2, h3 {
  font-weight: normal;
}

.right.floated {
  float: right !important;
}

.center {
  text-align: center;
}

.inline {
  display: inline !important;
}

.message.closable {
  margin-left: 20%;
  margin-right: 20%;
 }

// Sidebar

.ui.left.sidebar {
  width: 100%;
}

.ui.vertical.sidebar.menu {
  background: linear-gradient(to right, #93EDC7, #1CD8D2);

  .header {
    margin: 10px 0px 20px 0;
  }

  .item {
    padding: 2.0em 1.0em;
  }

  .navigation .item {
    font-size: $list-font-size;
    font-weight: $list-font-weight;
  }

  .center.item{
    position: inherit;
  }

  i.close {
    font-size: 3em
  }

  .ui.container {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
}


// SEARCH FORM

.ui.menu .results {
  width: 100% !important;
}

.ui.avatar.image {
  width:100px;
  height:100px;
}

.ui.search {
  input[type='submit'] {
    display: none;
  }
  > .results {
    .result {
      .content {
        display: flex;
        align-items: center;
        margin: 0px;
        text-align: left;
        display: flex;
      }
      .title {
        height: 100%;
        font-size: 1.5em;
      }
      .item-count {
        margin-left: auto;
      }
      .image {
        float: left;
        overflow: visible;
        img {
          border-radius: 500rem;
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}

//LIST
.ui.accordian {
  width: 100%;
}

.ui.relaxed.divided.items > .item {
  padding: $list-padding;
}


.ui.items {
  margin: $list-padding;
}

.item-types .ui.dividing.header {
  margin: 0px;
}

.ui.items > .item > .content {
  > .header {
    font-weight: $list-font-weight;
  }

  .items {
    .item {
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }

  padding: $list-width-pad;
}

.item h3.ui.header {
  font-size: $list-font-size;
}

//MODAL AND LOADER

.ui.loader {
  z-index: 1001;
}

 .dimmed .pusher {
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

.ui.active.inverted.dimmer .ui.loader {
  color: black;
  font-weight: bold;
  font-size: 2.25em;
}

.ui.dimmer .ui.loader:before {
  border-color: none !important;
}

.ui.inverted.dimmer {
    background-color: rgba(255, 255, 255, 0.45);
}

#ingredientsModal {
  background-color: rgba(255, 255, 255, 0.8);
  a {
    color: #0067cc;
  }

  .with {
    padding-left: 8px;
  }

  a:first-of-type {
    padding-left: 20px;
  }

  .inline a {
    padding-left: 0px;
  }

  .header {
    background: none;
  }
}

.ui.modal > .content {
  background: none;
}

//Media Quries

@media only screen and (min-width: 700px) {
  .ui.menu:not(.vertical) .item.launch {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .ui.secondary.menu {
    .item:not(:last-child) {
      display: none !important;
    }
  }
}
