// import the CSS framework
// Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
@import "semantic-ui";

.ui.menu {
  margin-bottom: 3em !important;
}

.ui.avatar.image {
  width:100px;
  height:100px;
}

.landing {
  .ui.search > {
    .input {
      font-size: 1.4em;
    }

    .results, .ui.input {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 767px) {
  .ui.stackable.menu .ui.search .ui.input {
    width: 400px;
  }
}

.ui.stackable.menu .results {
  width: 100% !important;
}

.ui.search {
  input[type='submit'] {
    display: none;
  }
  > .results {
    .result {
      .content {
        display: flex;
        align-items: center;
        margin: 0px;
        text-align: left;
        display: flex;
      }
      .title {
        height: 100%;
        font-size: 1.5em;
      }
      .item-count {
        margin-left: auto;
      }
      .image {
        float: left;
        overflow: visible;
        img {
          border-radius: 500rem;
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}

.message.closable {
  margin-left: 20%;
  margin-right: 20%;
 }

 .dimmed main {
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

// .ui.dimmer {background-color: rgba(255, 255, 255, 0.72);}

