.masthead {
	&.segment {
		min-height: 800px;
		padding: 1em 0;
	}

	h2 {
		font-size: 1.7em;
		font-weight: normal;
	}

	.ui.container {
		margin-top: 120px;
	}

	.logo.item img {
		margin-right: 1em;
	}

	.ui.menu .ui.button {
		margin-left: 0.5em;
	}

	h1.ui.header {
		margin-top: 3em;
		margin-bottom: 0;
		font-size: 6em;
		font-weight: normal;
	}

	.welcome {
		font-size: 1.7em;
		font-weight: normal;
	}

	.subheader {
		margin-bottom: 30px;
	}
}

@media only screen and(max-width: 700px) {
	.masthead {
		&.segment {
			min-height: 600px;
		}
		h2 {
			margin-top: 0.5em;
			font-size: 1.5em;
		}
		h1.ui.header {
			font-size: 3em;
			margin-top: 1.5em;
		}
	}
	.ui.fixed.menu {
		display: none !important;
	}
	.secondary.pointing.menu {
		.item {
			display: none;
		}
		.menu {
			display: none;
		}
		.toc.item {
			display: block;
		}
	}
}

.hidden.menu {
	display: none;
}

.ui.vertical.stripe {
	padding: 8em 0;
	h3 {
		font-size: 2em;
	}
	p {
		font-size: 1.33em;
		+ h3 {
			margin-top: 3em;
		}
	}
	.button + h3 {
		margin-top: 3em;
	}
	.floated.image {
		clear: both;
	}
	.horizontal.divider {
		margin: 3em 0;
	}
}

.quote.stripe.segment {
	padding: 0;
	.grid .column {
		padding-top: 5em;
		padding-bottom: 5em;
	}
}

.secondary.pointing.menu .toc.item {
	display: none;
}


.landing-page {
  .ui.search > {
    .input {
      font-size: 1.4em;
    }

    .results, .ui.input {
      width: 100%;
    }

  }

  .masthead h1.ui.header {
    margin-top: 0px;
  }
}
