// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables_and_mixins";

.ui.modal > .content   {
  padding: 0px;
}

.restaurant-items .item, .item-ingredients .item {
    text-transform: uppercase;
}

#ingredientsModal {
  background-color: rgba(255, 255, 255, 0.8);
  a {
    color: #0067cc;
  }

  .with {
    padding-left: 8px;
  }

  .inline a {
    padding-left: 0px;
  }

  .header {
    color: white;
  }

  .ui.relaxed.divided.list:not(.horizontal) {
    @include list($ingredients-list-height-padding);
  }

  .item-ingredients {
    margin-top: 20px;
    font-size: 1.12em;
  }

  padding-bottom: 2em;
}

.social {
  color: $middle-gradient-color;
}

.restaurant-options {
  .ui.icon.header {
    width: 90px;
    font-weight: normal;
  }

  i  {
    color: $middle-gradient-color;
  }

  i.circular.icon {
    box-shadow: 0em 0em 0em 0.1em $middle-gradient-color inset
  }
  font-size: 10px;
}
