// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables_and_mixins";

.ui.modal > .content   {
  padding: 0px;
}

.sub.header.warning {
  font-size: 10px;
  padding-top: 20px;
}

.restaurant-items .item, .item-ingredients .item {
  text-transform: uppercase;
}

.phone, .hours {
  font-size: 17px;
}

.phone {
  margin-top: 10px;
}

.hours {
  display: inline-block;
  .title{
    width: 250px;
    margin-left: -21px;
  }
}

.restaurant-img {
  margin-top: 35px;
  margin-bottom: 35px;
  img {
    height: 40%;
    width: 40%;
    max-width: 200px !important;
    max-height: 200px;
    border-radius: 30px;
  }
}

#ingredientsModal {
  background-color: rgba(255, 255, 255, 0.8);
  a {
    color: #0067cc;
  }

  .with {
    padding-left: 8px;
  }

  .inline a {
    padding-left: 0px;
  }

  .ui.relaxed.divided.list:not(.horizontal) {
    @include list($ingredients-list-height-padding);
  }

  .item-ingredients {
    margin-top: 20px;
    font-size: 1.12em;
  }

  padding-bottom: 2em;
}

.social {
  color: $middle-gradient-color;
}

.restaurant-options {
  .ui.icon.header {
    width: 90px;
    font-weight: normal;
  }

  i  {
    color: $middle-gradient-color;
  }

  i.circular.icon {
    box-shadow: 0em 0em 0em 0.1em $middle-gradient-color inset
  }

  font-size: 10px;
}

#new_restaurant, [id^=edit_restaurant] {
  .links {
    margin-top: 25px;
  }
}

#new_restaurant {
  .nested-fields {
    h3 {
      padding-left: 43px;
    }
  }
}
.ui.form .nested-fields .field:last-child {
  margin-bottom: 20px;
}

.remove_fields.dynamic {
  color: #1CD8D2;
  i {
    font-size: 33px;
  }
}

.icon.dropdown {
  color: $middle-gradient-color;
}

.field.boolean {
  margin-top: 30px !important;
}

@media only screen and (min-width: 767px) {
  .ui.form .field.state-dropdown {
    > .selection.dropdown {
      width: 270px;
    }
  }
}
