@import "variables_and_mixins";

// SEARCH
.ui.menu .results, .ui.search > .results {
  width: 100% !important;
}

.ui.avatar.image {
  width:100px;
  height:100px;
}

.restaurants-shortcut {
  font-size: 1.2em;
  padding-top: 48px;
}

.ui.search#headerSearch .results .item-count {
  font-size: 15px !important;
}

.ui.search {
  .ui.icon.input > i.link.icon {
    color: $secondary-color;
  }
  input[type='submit'] {
    display: none;
  }
  > .results {
    .result {
      .content {
        display: flex;
        align-items: center;
        margin: 0px;
        text-align: left;
        display: flex;
        font-size: 0.8em;
        .item-count {
          span {
            padding-right: 4px;
            // font-size: 10px;
            font-weight: bold !important;
          }
          margin-left: auto;
          text-align: right;
          font-weight: bold !important;
          font-size: 17px;
          .count {
            color: $secondary-color;

            span {
              color: black;
            }
          }
        }
      }

      .title {
        margin: 0px !important;
        height: 100%;
        font-size: 1.5em;
        width: 60%;
      }

      .image {
        float: left;
        overflow: visible;
        height: initial;
        img {
          border-radius: 500rem;
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}

.footer {
  .search {
    .ui.input {
      width: 90%;
      margin-bottom: 30px;

      #searchFooter {
        width: 100%;
      }
    }
  }
  .results {
    margin-top: -20px !important;
  }
}
@media only screen and (max-width: 430px) {
  .ui.search .results .item-count {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 370px) {
  form.search .item-count {
    display: none;
  }
}

@media only screen and (max-width: 870px) {
  #searchNav {
    width: 130%;
  }
}
