@import "variables_and_mixins";

// SEARCH
.ui.menu .results, .ui.search > .results {
  width: 100% !important;
}

.ui.avatar.image {
  width:100px;
  height:100px;
}

.restaurants-shortcut {
  font-size: 1.2em;
  padding-top: 48px;
}


.ui.search {
  .ui.icon.input > i.link.icon {
    color: $secondary-color;
  }
  input[type='submit'] {
    display: none;
  }
  > .results {
    .result {
      .content {
        display: flex;
        align-items: center;
        margin: 0px;
        text-align: left;
        display: flex;
        font-size: 0.8em;
        span {
          padding-left: 8px;
          font-weight: normal;
        }
      }

      .title {
        margin: 0px !important;
        height: 100%;
        font-size: 1.5em;
        width: 30%;
      }

      .item-count {
        margin-left: auto;
        text-align: right;
        font-weight: bold;
        font-size: 17px;
        .count {
          color: $secondary-color;

          span {
            color: black;
          }
        }
      }

      .image {
        float: left;
        overflow: visible;
        height: initial;
        img {
          border-radius: 500rem;
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}

.footer {
  .search {
    .ui.input {
      width: 90%;
      margin-bottom: 30px;

      #searchFooter {
        width: 100%;
      }
    }
  }
  .results {
    margin-top: -20px !important;
  }
}

@media only screen and (max-width: 370px) {
  form.search .item-count {
    display: none;
  }

  .ui.search {
    .title {
      padding-top: 12px;
    }
  }
}

@media only screen and (max-width: 870px) {
  #searchNav {
    width: 130%;
  }
}
