.username .custom-form {
  max-width: 500px;
}

.ui.dropdown.item.lists {
  padding-left: 50px;
  i.dropdown.icon {
    margin-top: -10px;
    font-size: 1em;
  }

  .right.menu {
    left: 60%
  }
}

.dashboard {
  margin-top: -27px !important;

  .wrapper{
    margin-bottom: 15px;
  }
}

.user-title {
  img {
    height: 50px !important;
    width: 50px !important;
    border-radius: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .ui.dropdown.item.lists .right.menu {
    left: 40%
  }
}
