.username .custom-form {
  max-width: 500px;
}

.ui.dropdown.item.lists {
  i.dropdown.icon {
    font-size: 1em;
    margin-left: 0;
    vertical-align: bottom;
  }

  .right.menu {
    left: 60%
  }
}

.dashboard {
  margin-top: -27px !important;

  .wrapper{
    margin-bottom: 15px;
  }
}

.row-title {
  img {
    height: 50px !important;
    width: 50px !important;
    border-radius: 100%;
  }
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

@media only screen and (max-width: 700px) {
  .ui.dropdown.item.lists .right.menu {
    left: 40%
  }
}

.user-page.user-options {
  padding-right: 11px;
}

.user-page.user-options.dashboard-options {
  padding-right: 26px;
}
