.ui.container.messages
  - flash.each do |key, value|
    - (messages = @model.errors.messages) if key == 'error'
    = render 'shared/message', type: key, value: value, messages: (messages ||= nil)
    -# %div{class: "#{flash_class(key)} close"}
    -#   %i.close.icon
    -#   = value
    -#     - @model.errors.messages.each do |attr, messages|
    -#       - if messages.present?
    -#         %ul
    -#           - messages.each do |msg|
    -#             %li
    -#               = "#{attr.to_s.titleize} #{msg}"
