- list ||= nil
.ui.messages{ class:  (list ? 'list' : '') }
  - if devise_error_messages? && list.nil?
    = render 'shared/message', type: 'error', value: devise_alert
  - elsif devise_error_messages? && list.present?
    = render 'shared/messages', type: 'error', messages: resource.errors.messages
  - else
    - flash.each do |key, value|
      - if list != true
        = render 'shared/message', type: key, value: value
      - else
        = render 'shared/messages', messages: messages, type: key
