
<div class="ui top attached stackable menu">
 <%= link_to 'Home', root_path, class: "ui item" %></li>
  <%= link_to 'Restaurants', restaurants_path, class: 'ui item' %></li>
  <div class="right menu">
    <div class="ui right aligned category search item">
      <div class="ui transparent icon input">
        <input class="prompt" type="text" placeholder="Search animals...">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
</div>