.ui.top.attached.stackable.menu
  = link_to 'Home', root_path, class: "ui item"
  = link_to 'Restaurants', restaurants_path, class: 'ui item'
  .right.menu
    .ui.right.aligned.search.item
      .ui.transparent.icon.input
        %input.prompt#search{:placeholder => "Search for Restaurants", :type => "text"}
        %i.search.link.icon
      .results
