.ui.vertical.center.aligned.segment.menu-bar
  .ui.container
    .ui.huge.secondary.menu
      .header.item
        = link_to @app_name, root_url, class: 'custom'
      = render 'shared/navigation_items'
      .right.item
        = render 'shared/search', id: 'searchNav'
      %a.toc.right.item.launch
        %i.sidebar.icon
