.ui.vertical.center.aligned.segment
  .ui.container
    .ui.large.secondary.menu
      = render 'shared/navigation_items'
      .right.item
        = render 'shared/search'
      %a.toc.right.item.launch
        %i.sidebar.icon
