.ui.vertical.sidebar.menu.right
  .ui.container
    .header
      .left.floated
        = link_to @app_name, root_url, class: 'custom'
      %a.right.floated.close{href: '#'}
        %span
          x
    .center.item
      = render 'shared/search', id: 'searchSidebar'
    .navigation
      = render 'shared/navigation_items'
    = render 'shared/add_restaurant_blurb'
