.ui.vertical.sidebar.menu.left
  .ui.container
    .header
      %a.right.floated.close{href: '#'}
        %span{aria_hidden: true}
          x
    .center.item
      = render 'shared/search', id: 'searchSidebar'
    .navigation
      = render 'shared/navigation_items'

