.ui.vertical.sidebar.menu.left
  .ui.container
    .header
      .left.floated
        = link_to @app_name, root_url, class: 'custom'
      %a.right.floated.close{href: '#'}
        %span{aria_hidden: true}
          x
    .navigation
      = render 'shared/navigation_items'
    .center.item
      = render 'shared/search', id: 'searchSidebar'

