.ui.vertical.sidebar.menu.left
  .ui.container
    .header
      %a.right.floated{href: '#'}
        %i.close.icon
    .center.item
      = render 'shared/search'
    .navigation
      = render 'shared/navigation_items'

