%meta{:content => "summary", :name => "twitter:card"}
%meta{:content => "@menu_berry", :name => "twitter:site"}
%meta{:content => "#{@model.name} now on MenuBerry.org!", :name => "twitter:title"}
%meta{:content => "View #{@model.name} on MenuBerry today and add more vegan options to help others discover new restaurants!.", :name => "twitter:description"}
%meta{:content => image_path(@model), :name => "twitter:image"}
